.form {
    width: 50%;
    margin: auto;
    padding: 4rem 2rem  ;
}

.full-width {
    width: 70%;
    margin-bottom: 1rem;
}

h1 {
    text-align: left;
}

button {
    width: 70%;
    margin: auto;
    margin-bottom: .5rem;
}